.teaminput
{
    width: 15em;
    // text-align: right;
}

.playerinput
{
    width: 30em;
    // text-align: right;
}


.link {
    color: #FFF;
  }

.link:hover {
    color: #FFF
  }

.teamimg{
  width:15em;
}  

// img
// {
//     position: "absolute", 
    
// }